:root{
  --g1: rgb(0, 94, 78);
  --g2: rgb(34, 207, 112);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 0, 58);
}

@keyframes pan {
      from{
          background-position: 0px 0px;
      }
      to{
          background-position: 400px 0px;
      }
  }

.butt svg{
    width: 24px;
    height: 24px;
    transform: scale(3);
    fill: rgb(122, 230, 79);
}

.butt{
    border-color: transparent;
    border-radius: 10px;
    top: 45%;
    background: transparent;
    left: 49%;
    position: absolute;
}

.header h1{
  background: linear-gradient(
    to right,
    var(--g1), 
    var(--g2), 
    var(--g1)
    );
  font-size: clamp(3rem, 25vmin, 8rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: transparent;
  background-size: 400px;
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: pan;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /*animation-direction: alternate-reverse;*/

}

/*.header h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 3rem;
	font-weight:  100;
	letter-spacing: 2px; 
	text-align: center;
	color: #26f39e;
	background-image: -webkit-linear-gradient(92deg, #26e5f3, #3ac0fe);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
} */

/*@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
};*/