:root{
  --g1: rgb(0, 94, 78);
  --g2: rgb(34, 207, 112);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 0, 58);
}

@keyframes pan {
      from{
          background-position: 0px 0px;
      }
      to{
          background-position: 400px 0px;
      }
  }

.svg{
  transition-duration: .3s;
}

.svg path{
  fill: white;
}

.text{
  font-family: monospace;
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;  
}

.butt:hover{
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.butt:hover .text{
  opacity: 1;
  transition-duration: .4s;
}

.butt:hover .svg{
  opacity: 0;
  transition-duration: .3s;
}

.butt{
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
  position:absolute;
  top: 45%;
}

.header h1{
  top: 10%;
  left: 33%;
  background: linear-gradient(
    to right,
    var(--g1), 
    var(--g2), 
    var(--g1)
  );
  position:absolute;  
  font-size: clamp(3rem, 25vmin, 8rem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: transparent;
  background-size: 400px;
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: pan;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
};

@media all and (max-width: 480px) {
  .header h1{
    left: 25%;
    font-size:5rem;
  };
};