:root{
  --g1: rgb(0, 94, 78);
  --g2: rgb(34, 207, 112);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 211, 190);
}

.dark-mode{
  background-color: rgb(20, 20, 20);
  background-size: 40px 40px;   
  background-image:repeating-linear-gradient(0deg, rgb(133, 133, 133), rgb(133, 133, 133) 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, rgb(133, 133, 133), rgb(133, 133, 133) 1px, transparent 1px, transparent 100px);
  -webkit-text-fill-color: rgb(212, 211, 190);
}

#lines {
  background-size: 40px 40px;    
  background-image:repeating-linear-gradient(0deg, rgb(34, 34, 34), rgb(34, 34, 34) 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, rgb(34, 34, 34), rgb(34, 34, 34) 1px, transparent 1px, transparent 100px);
  height:100%;
  width:100%;
  opacity:0.25;
  position:absolute;
  top:0;
  left:0;
  z-index:-4;
}

/* Text animation */

/*@keyframes pan {
      from{
          background-position: 0px 0px;
      }
      to{
          background-position: 400px 0px;
      }
}*/

.svg{
  transition-duration: .3s;
}

.svg path{
  fill: white;
}

.butxt{
  font-family: monospace;
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;  
}

.butt:hover{
  width: 45px;
  transition-duration: .4s;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

/* this line of css has the text transition for the button*/

/*.butt:hover .butxt{
  opacity: 1;
  transition-duration: .4s;
}*/

/* logo transition*/

.butt:hover .svg path{
  fill: black;
  /*opacity: 0;*/
  transition-duration: .3s;
}

.butt{
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  box-shadow: black 0px 0px 10px;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
  position:absolute;
  top: 45%;
}

.container, .container2{
  position: relative;
  height: 400px;
}

.text{
  word-spacing: 5px;
  white-space: pre;
  margin: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%); 
  color: rgb(20, 20, 20);
  font-size: 25px;
  font-family: 'Dancing Script', handwriting;
}

.header{
  /* Gradient */
  /*background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));*/ 
  
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);   
  font-size: clamp(3rem, 25vmin, 8rem);
  font-family: 'Dancing Script', handwriting;
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 25px;
  font-weight: 500;
  color: rgb(20, 20, 20);

/* Text clip & animation call */
/* background-size: 400px;
  background-clip: text;
  -webkit-background-clip: text;
  animation-name: pan;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: absolute;
  width: 5%;
  height: 5%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-animation: toggle__animation 3s infinite;
          animation: toggle__animation 3s infinite;
}

.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1000%;
  left: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
  border-radius: 50px;
  background-color: #d8ff99;
  background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%),
radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%),
radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%),
radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%),
radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%),
radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 100%;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 1000%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefedc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.35em;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
     rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
     rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #ff99fd;
  background-image: radial-gradient(at 81% 39%, hsla(327,79%,79%,1) 0px, transparent 50%),
  radial-gradient(at 11% 72%, hsla(264,64%,79%,1) 0px, transparent 50%),
  radial-gradient(at 23% 20%, hsla(75,98%,71%,1) 0px, transparent 50%);
}

.input__check:checked + .slider {
  background-color: #17202A;
}

.input__check:checked + .slider:before {
  -webkit-transform: translateX(2em);
      -ms-transform: translateX(2em);
          transform: translateX(2em);
}

@-webkit-keyframes toggle__animation {
  0%, 100% {
    -webkit-transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
            transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    -webkit-transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
            transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}

@keyframes toggle__animation {
  0%, 100% {
    -webkit-transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
            transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    -webkit-transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
            transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}

@media (min-width: 320px) and (max-width: 480px)  {
  .header{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
  };

  .switch{
    width: 20%;
    height: 5%;
  }

  .text{
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -40%); 
    position: absolute;
    color: rgb(20, 20, 20);
    font-size: 19px;
    font-family: 'Dancing Script', handwriting;
  }

};